<%-include("header") %>

<div class="container-fluid product">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-6">
                <img src="/images/c1.jpg" class="product-img" alt="">
                <div class="overlay">
                    <button type="button" class="btn btn-info btnp" title="Save"><i class="fas fa-bookmark mr-1"></i> Save </button>
                    <button type="button" class="btn btn-info btnp" title="Add to Cart"><i class="fas fa-cart-plus mr-1"></i> Add to Cart </button>
                    <button type="button" class="btn btn-info btnp"> Buy Now </button>
                </div>
            </div>
            <div class="col-lg-6 ">
                <h3 class=" mt-4">Painting of 19th Century French Street</h3>
                <span class="bg-info text-white mr-1 "><strong class="ml-1">4.3</strong> <i class="fas fa-star mr-1"></i></span>
                <span class="text-secondary font-weight-bolder">5,000 ratings and 789 reviews</span>
                <h2><i class="fas fa-rupee-sign"></i><strong>750.00</strong></h2>
                <div class="row mt-4">
                    <div class="col-4">
                        <h5 class="text-secondary">Highlights</h5>
                    </div>
                    <div class="col-8">
                        <ul>
                            <li>Lorem ipsum dolor sit amet </li>
                            <li>hhl ahfjkdshfj  hsjfhs jfhsak</li>
                            <li>afhjds ahsfja  fadjhfkj fhja</li>
                            <li>hfjds hfjkds dhajkfh</li>
                            <li>fadsf fsg sfgs</li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4">
                        <h5 class="text-secondary">Seller</h5>
                    </div>
                    <div class="col-8">
                        <span class="font-weight-bolder text-info">Alby Lang</span>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4">
                        <h5 class="text-secondary">Description</h5>
                    </div>
                    <div class="col-8">
                        <p class="">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Tenetur, doloribus expedita molestiae modi corrupti culpa,
                            commodi soluta fugit perspiciatis nisi quia optio minus alias itaque ipsam natus assumenda esse vel.
                        </p>
                    </div>
                </div>
                <div class="specifications mt-5 border">
                    <h3>Specifications</h3>
                    <hr>
                    <div class="row mt-2">
                        <div class="col-4 text-secondary">
                            Dimensions
                        </div>
                        <div class="col-8">
                            20cm x 30cm x 10cm
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4 text-secondary">
                            Color
                        </div>
                        <div class="col-8">
                            Yellow
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4 text-secondary">
                            Sales Package
                        </div>
                        <div class="col-8">
                            3
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4 text-secondary">
                            Frame Included
                        </div>
                        <div class="col-8">
                            Yes, Aluminium frame
                        </div>
                    </div>
                </div>
                <div class="ratings border mt-5">
                    <div class="row">
                        <div class="col-8">
                            <h3>Ratings and Reviews</h3>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-info">Rate Product</button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3">
                            <h2>4.3<i class="fas fa-star"></i></h2>
                            <p text-secondary>5000 Ratings and 789 reviews</p>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <div class="col-2">
                                    <span>5<i class="fas fa-star"></i></span>
                                </div>
                                <div class="col-8 ">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <span class="text-secondary font-weight-lighter">3,000</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <span>4<i class="fas fa-star"></i></span>
                                </div>
                                <div class="col-8 ">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <span class="text-secondary font-weight-lighter">3,000</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <span>3<i class="fas fa-star"></i></span>
                                </div>
                                <div class="col-8 ">
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <span class="text-secondary font-weight-lighter">1,500</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <span>2<i class="fas fa-star"></i></span>
                                </div>
                                <div class="col-8 ">
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <span class="text-secondary font-weight-lighter">500</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <span>1<i class="fas fa-star"></i></span>
                                </div>
                                <div class="col-8 ">
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <span class="text-secondary font-weight-lighter">1,200</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review mt-3">
                    <span class="bg-success text-white mr-3"><strong class="ml-1">4</strong> <i class="fas fa-star mr-1"></i></span>
                    <strong>Classy Product</strong>
                    <p class="mt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Alias facilis, deserunt non quis qui a ullam odio! Maxime, 
                        magnam vel necessitatibus nemo quo saepe labore vitae eligendi, voluptas nulla officiis.
                    </p>
                    <div class="row">
                        <div class="col-2">
                            <button class="btn" type="button" data-toggle="model" data-target="#exampleModal">
                                <img  src="/images/c1.jpg" class="review-img" alt="">
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="/images/c1.jpg" alt="">
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="similar-items">
    <div class="jumbotron">
        <div class="container "> 
            <h2>Similar Items</h2>
            <div class="row mt-4">
                <% products.forEach(function(product) { %>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 ">
                        <a href="/product">
                            <img class="image-fluid similar-img" src="<%=product%>" alt="">
                        </a>
                        <h4>Painting of Radha Krishna</h4>
                        <p><i class="fas fa-rupee-sign"></i><strong>750.00</strong></p>
                    </div>
                    
                <% }) %> 
            </div>
        </div>
    </div>
</div>

<%- include("footer") %> 