
.navbar{
  padding: 0 0 0 4.5rem;
}

.logo{
  height:50px;
  width: 100px;
}



.nav-item{
  padding: 0 3rem;

}

.nav-link{
  font-size: 1.2rem;

}

.welcome-h1{
  color: #4cd3c2;
  margin-top: 30%;
  text-align: center;
  font-size: 5rem;
  line-height: 1.5;
  font-weight: bolder;
}

.title-image{
  height: 35rem;
  width: 100%;
}

#features{
  background-color: #4cd3c2;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 3rem 5rem;
  color: #fff;
}

#carousel{

  text-align: center;
}

 h2{
  font-size: 2.5rem;
  line-height: 1.5;
  color: #4cd3c2;
}

.carousel-item{
  padding:7% 15%;
}

.carousel-itrem p{

  font-size: 1.5rem;
  line-height: 1.5;
}

img.displayed{
  display: block;
  height: 25rem;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

footer{
  text-align: center;
  background-color: #4cd3c2;
  height: 6rem;
  width: 100%;
}

.products-image{
  height: 20rem;
  width: 20rem;
}

.product{
  width:98%;
}



.product-img{
  height:35rem;
  width: 100%;
  
}

.btnp{
  width: 30%;
  margin-top: 1rem;
}

.review-img{
  width: 100%;
  height: 5rem;
}

.similar-img{
  height: 10rem;
  width: 10rem;
}

